# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
*.log
.env
android/app/src/household/google-services.json
android/app/src/collector/google-services.json
android/app/keystore.jks
